<!DOCTYPE html>
<html data-ng-app="demoApp">
<head>
  <title>Ejemplo 1 Data binding 281896</title>
  <script src="../Scripts/angular.min.js"></script>
  <script>
      function Controlador($scope) {
          $scope.customers = [
            { nombre: 'Marcus', ciudad: 'Jacinto' },
            { nombre: 'Dominic', ciudad: 'Azura' },
            { nombre: 'Cole', ciudad: 'Profundidades locust' },
            { nombre: 'Baird', ciudad: 'Desconocido' }
          ];
      }
  </script>
  <script>
  var demoApp = angular.module('demoApp', []);
          demoApp.controller('ControladoryModulo', function ($scope) {
          $scope.clientes = [
            { nombre: 'Alberto', ciudad: 'Chihuahua' },
            { nombre: 'Alberto', ciudad: 'Monterrey' },
            { nombre: 'Alejandra', ciudad: 'Guanajuato' },
            { nombre: 'Rebecca', ciudad: 'Minatitlan' }
          ];
      });
  </script>
  <script>
      function Ejemplo4y5($scope) {
          $scope.personas = [
            { nombre: 'Rafael', ciudad: 'Chihuahua' },
            { nombre: 'Miguel', ciudad: 'Monterrey' },
            { nombre: 'Leonardo', ciudad: 'Guanajuato' },
            { nombre: 'Iveth', ciudad: 'Minatitlan' }
          ];
      $scope.addPersona = function () {
          $scope.personas.push({ nombre: $scope.ingresa.nombre, ciudad: $scope.ingresa.ciudad });
        };
      }
  </script>
</head>
<body>
<h3>Repertorio completo de los ejemplos funcionales</h3>
<h4>Alumno: Luis Enrique Sapien Rubio</h4>
<h4>Matricula: 281896</h4>
    <form>
      <fieldset>
        <legend>Data binding basico</legend>
    Nombre: <input type="text" data-ng-model="name" placeholder="Escribe cualquier cosa" /> {{ name }}

  </fieldset>
  <fieldset data-ng-init="names=[{nombre: 'Enrique',ciudad: 'Chihuahua'}, {nombre: 'Luis', ciudad: 'Monterrey'}, {nombre: 'Ana', ciudad: 'Toluca'}, {nombre: 'Elizabeth', ciudad: 'Guadalajara'}]">
    <legend>Directiva ng-repeat</legend>
      <ul>
        <li data-ng-repeat="personName in names">{{ personName.nombre }}</li>
      </ul>
  </fieldset>
  <fieldset>
    <legend>Usando fitros</legend>
      Nombre: <input type="text" data-ng-model="filtro" placeholder="Escribe datos para filtrar"/>
      <ul>
        <li data-ng-repeat="usuario in names | filter:filtro | orderBy:ciudad">{{ usuario.nombre }} - {{ usuario.ciudad }}</li>
      </ul>
  </fieldset>
  <fieldset data-ng-controller="Controlador">
    <legend>Agregando un controlador</legend>
    Nombre:
    <input type="text" data-ng-model="nombre"
    placeholder="Escribe datos para filtrar"/>
  </br>
    <ul>
      <li data-ng-repeat="cust in customers | filter:nombre">
        {{ cust.nombre }} - {{ cust.ciudad }}
      </li>
    </ul>
  </fieldset>
  <fieldset data-ng-controller="ControladoryModulo">
    <legend>Agregando un controlador dentro de un modulo</legend>
    Nombre:
    <input type="text" data-ng-model="nombre"
    placeholder="Escribe datos para filtrar"/>
  </br>
    <ul>
      <li data-ng-repeat="cust in clientes | filter:nombre">
        {{ cust.nombre }} - {{ cust.ciudad }}
      </li>
    </ul>
  </fieldset>
  <fieldset data-ng-controller="Ejemplo4y5">
    <legend>Uso de ng-model, directiva ng-click, filtrado y orden de datos</legend>
    Ingresa el nombre: <input type="text" data-ng-model="ingresa.nombre" placeholder="Nombre del usuario">
  </br>
  Ingresa la ciudad: <input type="text" data-ng-model="ingresa.ciudad" placeholder="Ciudad donde vive el usuario">
  </br>
  </br>
  <button data-ng-click="addPersona()">Agregar persona</button>
  </br>
  </br>
    Filtro por nombre:
    <input type="text" data-ng-model="filtro.nombre"
    placeholder="Escribe datos para filtrar"/>
  </br>
    <ul>
      <li data-ng-repeat="cust in personas | filter:filtro.nombre | orderBy:'ciudad'">
        {{ cust.nombre }} - {{ cust.ciudad }}
      </li>
    </ul>
  </fieldset>
</form>
</body>
</html>
